h1{
    text-align: left;
    font-family: 'Lucida Sans Unicode';
    letter-spacing: 3px;
    padding-left: 170px;
}

body{
    margin: auto;
    width: 900px;
}

#verde{
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    letter-spacing: 3px;
    color: rgb(24, 148, 24);
}

#naranja{
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    letter-spacing: 3px;
    color: rgb(231, 185, 34);
}

div{
    border: black 1px solid;
    position:relative;
    left: 150px;
    bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

h2{
    border-bottom: grey 0.5px solid;
    color: rgb(51, 190, 51);
    font-family: 'Lucida Sans Unicode';
}

p{
    font-family: 'Lucida Sans Unicode';
    font-size: 15px;
}

h3{
    color: rgb(231, 185, 34);
}